<div id="block-select" class="col-xs-12 " style="{% if view_ids | length == 1 %} display: none {% endif %}">
    <div class="Chartjs  p-4 shadow bg-block-analytics box box-primary"  >
        <div class="box-header box-header-analytics">
            <i class="fa fa-chrome"></i>
            <h3 class="box-title ">Sites </h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">
                    <select name="" id="select-website">
                        {% for key, id in view_ids %}
                            <option value="{{ id }}">{{ view_names[key] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>


{% if colors is defined %}
    <div id="colors" style="display: none;" data-colors="{{ colors }}">
    </div>
{% endif %}

{% if week_colors is defined %}
    <div id="week_colors" style="display: none;" data-weekcolors="{{ week_colors }}">
    </div>
{% endif %}

{% if year_colors is defined %}
    <div id="year_colors" style="display: none;" data-yearcolors="{{ year_colors }}">
    </div>
{% endif %}

{% if map_key is defined %}
    <div id="map_key" style="display: none;" data-mapkey="{{ map_key }}">
    </div>
{% endif %}

{% if users_color is defined %}
    <div id="users_color" style="display: none;" data-userscolor="{{ users_color }}">
    </div>
{% endif %}

{% if map_color is defined %}
    <div id="map_color" style="display: none;" data-mapcolor="{{ map_color }}">
    </div>
{% endif %}

