{% set starts = select_start()%}

<select class="{{ class | default('select_start')}}" id="select_start_{{ name | default('') }}" data-name="{{ name | default('') }}" data-type="{{ type | default('doughnut') }}" data-label="{{ label | default('') }}">
    {% for key, start in starts %}
        <option value="{{key}}" {% if default is defined and default == key %} selected {% endif %}>{{start}}</option>
    {% endfor %}
</select>
